<div class="question">
                <h2>{{question}}</h2>
                {{#if options}} <!-- Multiple-choice questions -->
                {{#each options}}
                <button class="answer-btn" data-answer="{{this}}">{{this}}</button>
                {{/each}}
                {{else}}
                {{#if (eq type 'narrative')}} <!-- Narrative questions -->
                <label for="narrative-answer"></label><input type="text" id="narrative-answer" placeholder="Type your answer here..." />
                <button id="submit-narrative-answer">Submit</button>
                {{else if (eq type 'image-selection')}} <!-- Image selection questions -->
                <div class="image-options">
                    {{#each options}}
                    <img src="{{this}}" alt="Image option" class="image-option" data-answer="{{@index}}" />
                    {{/each}}
                </div>
                {{/if}}
                {{/if}}
            </div>